<div class="row py-5 mx-0 align-items-center">
  <div class="col-lg-4 mx-auto">
    <div class="card p-5">
      <div class="card-title">
        <h3 class="text-dark text-center">Login Here</h3>
        <form action="" class="py-4">
          <div class="form-floating pt-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="Enter your email"
            />
            <label for="floatingInput">Email</label>
          </div>

          <div class="form-floating pt-3">
            <input
              type="password"
              class="form-control"
              id="floatingInput"
              placeholder="Enter your Phone"
            />
            <label for="floatingInput">Password</label>
          </div>

          <div class="row text-center py-4">
            <div class="col-lg-6">
              <input type="checkbox" class="mr-3" /> Remember Me
            </div>
            <div class="col-lg-6">Forgot password?</div>
          </div>

          <div class="text-center py-3">
            <button class="btn btn-block btn-primary w-100">Login</button>
          </div>

          <div class="text-center py-3">
            Don't have an account?
            <a href="#" class="text-decoration-none">Register</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
