@font-face {
  font-family: leelWebFontRegular;
  src: url(/public/fonts/Nunito-Regular.ttf);
}
.banner {
  height: 85vh;
}
.banner-text {
  position: absolute;
  left: 5%;
  top: 18%;
}
.heroText {
  font-size: 75px;
  font-family: leelWebFontRegular !important;
}

@media (max-width: 576px) {
  .heroText {
    font-size: 35px;
  }
}
