<div class="row mx-0">
  <div class="col-lg-12 px-0">
    <img src="/images/hero-banner1.jpg" class="w-100 banner" alt="" />
    <div class="banner-text">
      <div class="row mx-0 px-0">
        <div class="col-lg-6">
          <p>Choose you hero --You</p>
          <p class="heroText">It's Dangerous to Code Alone. Watch This.</p>
          <p>
            quip yourself with our endless collection of Laravel and PHP
            courses, exams, and a community that's second to none. Want to learn
            Laravel from the coding wizards who know it best?
          </p>
        </div>
        <div class="col-lg-6">
          <!--  d-lg-block d-none d-sm-none -->
          <iframe
            src="https://www.youtube.com/embed/fcJjEWb7TMQ?si=FDAjt_yAp3LX8afv"
            height="400"
            width="100%"
            frameborder="0"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mx-0 px-5 py-5">
  <div class="col-lg-6">
    <h1>Hello World</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio adipisci
      earum reiciendis accusamus quasi ea vel quis recusandae placeat similique,
      laboriosam veniam harum necessitatibus tempora facere maiores consequatur,
      alias repudiandae. Lorem ipsum dolor sit, amet consectetur adipisicing
      elit. Molestiae saepe ullam omnis eius praesentium rem sunt temporibus eum
      numquam quos officia cumque ipsum fuga quidem vero, ut eos at corporis!
    </p>
  </div>
  <div class="col-lg-6">
    <h1>Hello World</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio adipisci
      earum reiciendis accusamus quasi ea vel quis recusandae placeat similique,
      laboriosam veniam harum necessitatibus tempora facere maiores consequatur,
      alias repudiandae. Lorem ipsum dolor sit, amet consectetur adipisicing
      elit. Molestiae saepe ullam omnis eius praesentium rem sunt temporibus eum
      numquam quos officia cumque ipsum fuga quidem vero, ut eos at corporis!
    </p>
  </div>
</div>
