<div class="row py-3 px-5">
  <h1 class="py-4">Explore by topics</h1>
  <div class="col-lg-6">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur aliquid
      dolor natus quibusdam voluptatum, nam maxime quam. Ipsa earum
      reprehenderit facilis animi doloremque, ab excepturi! Maxime recusandae
      consequuntur iure repudiandae?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur aliquid
      dolor natus quibusdam voluptatum, nam maxime quam. Ipsa earum
      reprehenderit facilis animi doloremque, ab excepturi! Maxime recusandae
      consequuntur iure repudiandae?
    </p>
  </div>
</div>
<div class="row py-2 px-5 mx-0">
  <div class="col-lg-12">
    <!-- Tab Navigation -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="activeTab === 'all'"
          (click)="setActiveTab('all')"
          >All Topics</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="activeTab === 'devops'"
          (click)="setActiveTab('devops')"
          >Devops</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="activeTab === 'framworks'"
          (click)="setActiveTab('framworks')"
          >Framworks</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="activeTab === 'languages'"
          (click)="setActiveTab('languages')"
          >Languages</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="activeTab === 'techniques'"
          (click)="setActiveTab('techniques')"
          >Techniques</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="activeTab === 'tooling'"
          (click)="setActiveTab('tooling')"
          >Tooling</a
        >
      </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content mt-3">
      <div class="tab-pane fade show active" *ngIf="activeTab === 'all'">
        <h4>Home</h4>
        <p>Content for Home Tab</p>
      </div>
      <!-- Start Devops Section -->
      <div class="d-flex justify-content-start align-items-start">
        <div
          class="tab-pane fade show col-lg-2 tabs-bg"
          *ngIf="activeTab === 'devops'"
        >
          <div class="d-flex align-items-center">
            <div class="p-3 text-primary">
              <img
                src="images/icons/visual-studio-code.svg"
                width="50"
                alt=""
              />
            </div>
            <div>
              <p class="title mb-2">aws</p>
              <div class="d-flex justify-content-between">
                <p>1 Series</p>
                <p>10 Videos</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show col-lg-2 tabs-bg"
          *ngIf="activeTab === 'devops'"
        >
          <div class="d-flex align-items-center">
            <div class="p-3 text-primary">
              <img
                src="images/icons/visual-studio-code.svg"
                width="50"
                alt=""
              />
            </div>
            <div>
              <p class="title mb-2">Servers</p>
              <div class="d-flex justify-content-between">
                <p>1 Series</p>
                <p>10 Videos</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show col-lg-2 tabs-bg"
          *ngIf="activeTab === 'devops'"
        >
          <div class="d-flex align-items-center">
            <div class="p-3 text-primary">
              <img
                src="images/icons/visual-studio-code.svg"
                width="50"
                alt=""
              />
            </div>
            <div>
              <p class="title mb-2">Laravel</p>
              <div class="d-flex justify-content-between">
                <p>1 Series</p>
                <p>10 Videos</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show col-lg-2 tabs-bg"
          *ngIf="activeTab === 'devops'"
        >
          <div class="d-flex align-items-center">
            <div class="p-3 text-primary">
              <img
                src="images/icons/visual-studio-code.svg"
                width="50"
                alt=""
              />
            </div>
            <div>
              <p class="title mb-2">Envoyer</p>
              <div class="d-flex justify-content-between">
                <p>1 Series</p>
                <p>10 Videos</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Devops Section -->
      <!-- Start Framwork Section -->
      <div class="d-flex justify-content-start align-items-start">
        <div
          class="tab-pane fade show col-lg-2 tabs-bg"
          *ngIf="activeTab === 'framworks'"
        >
          <div class="d-flex align-items-center">
            <div class="p-3 text-primary">
              <img
                src="images/icons/visual-studio-code.svg"
                width="50"
                alt=""
              />
            </div>
            <div>
              <p class="title mb-2">Angular</p>
              <div class="d-flex justify-content-between">
                <p>1 Series</p>
                <p>10 Videos</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show col-lg-2 tabs-bg"
          *ngIf="activeTab === 'framworks'"
        >
          <div class="d-flex align-items-center">
            <div class="p-3 text-primary">
              <img
                src="images/icons/visual-studio-code.svg"
                width="50"
                alt=""
              />
            </div>
            <div>
              <p class="title mb-2">React Js</p>
              <div class="d-flex justify-content-between">
                <p>1 Series</p>
                <p>10 Videos</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show col-lg-2 tabs-bg"
          *ngIf="activeTab === 'framworks'"
        >
          <div class="d-flex align-items-center">
            <div class="p-3 text-primary">
              <img
                src="images/icons/visual-studio-code.svg"
                width="50"
                alt=""
              />
            </div>
            <div>
              <p class="title mb-2">VueJs</p>
              <div class="d-flex justify-content-between">
                <p>1 Series</p>
                <p>10 Videos</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show col-lg-2 tabs-bg"
          *ngIf="activeTab === 'framworks'"
        >
          <div class="d-flex align-items-center">
            <div class="p-3 text-primary">
              <img
                src="images/icons/visual-studio-code.svg"
                width="50"
                alt=""
              />
            </div>
            <div>
              <p class="title mb-2">Nuxt</p>
              <div class="d-flex justify-content-between">
                <p>1 Series</p>
                <p>10 Videos</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Framworks Section -->

      <!-- Start Language Section -->
      <div class="d-flex justify-content-start align-items-start">
        <div
          class="tab-pane fade show col-lg-2 tabs-bg"
          *ngIf="activeTab === 'languages'"
        >
          <div class="d-flex align-items-center">
            <div class="p-3 text-primary">
              <img
                src="images/icons/visual-studio-code.svg"
                width="50"
                alt=""
              />
            </div>
            <div>
              <p class="title mb-2">CSS</p>
              <div class="d-flex justify-content-between">
                <p>1 Series</p>
                <p>10 Videos</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show col-lg-2 tabs-bg"
          *ngIf="activeTab === 'languages'"
        >
          <div class="d-flex align-items-center">
            <div class="p-3 text-primary">
              <img
                src="images/icons/visual-studio-code.svg"
                width="50"
                alt=""
              />
            </div>
            <div>
              <p class="title mb-2">HTML</p>
              <div class="d-flex justify-content-between">
                <p>1 Series</p>
                <p>10 Videos</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show col-lg-2 tabs-bg"
          *ngIf="activeTab === 'languages'"
        >
          <div class="d-flex align-items-center">
            <div class="p-3 text-primary">
              <img
                src="images/icons/visual-studio-code.svg"
                width="50"
                alt=""
              />
            </div>
            <div>
              <p class="title mb-2">JavaScript</p>
              <div class="d-flex justify-content-between">
                <p>1 Series</p>
                <p>10 Videos</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show col-lg-2 tabs-bg"
          *ngIf="activeTab === 'languages'"
        >
          <div class="d-flex align-items-center">
            <div class="p-3 text-primary">
              <img
                src="images/icons/visual-studio-code.svg"
                width="50"
                alt=""
              />
            </div>
            <div>
              <p class="title mb-2">PHP</p>
              <div class="d-flex justify-content-between">
                <p>1 Series</p>
                <p>10 Videos</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show col-lg-2 tabs-bg"
          *ngIf="activeTab === 'languages'"
        >
          <div class="d-flex align-items-center">
            <div class="p-3 text-primary">
              <img
                src="images/icons/visual-studio-code.svg"
                width="50"
                alt=""
              />
            </div>
            <div>
              <p class="title mb-2">TypeScript</p>
              <div class="d-flex justify-content-between">
                <p>1 Series</p>
                <p>10 Videos</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Language Section -->
      <!-- Start Techniques Section -->
      <div class="d-flex justify-content-start align-items-start flex-wrap">
        <div
          class="tab-pane fade show col-lg-2 tabs-bg"
          *ngIf="activeTab === 'techniques'"
        >
          <div class="d-flex align-items-center">
            <div class="p-3 text-primary">
              <img
                src="images/icons/visual-studio-code.svg"
                width="50"
                alt=""
              />
            </div>
            <div>
              <p class="title mb-2">Authentication</p>
              <div class="d-flex justify-content-between">
                <p>1 Series</p>
                <p>10 Videos</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show col-lg-2 tabs-bg"
          *ngIf="activeTab === 'techniques'"
        >
          <div class="d-flex align-items-center">
            <div class="p-3 text-primary">
              <img
                src="images/icons/visual-studio-code.svg"
                width="50"
                alt=""
              />
            </div>
            <div>
              <p class="title mb-2">Autherization</p>
              <div class="d-flex justify-content-between">
                <p>1 Series</p>
                <p>10 Videos</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show col-lg-2 tabs-bg"
          *ngIf="activeTab === 'techniques'"
        >
          <div class="d-flex align-items-center">
            <div class="p-3 text-primary">
              <img
                src="images/icons/visual-studio-code.svg"
                width="50"
                alt=""
              />
            </div>
            <div>
              <p class="title mb-2">Clean Code</p>
              <div class="d-flex justify-content-between">
                <p>1 Series</p>
                <p>10 Videos</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show col-lg-2 tabs-bg"
          *ngIf="activeTab === 'techniques'"
        >
          <div class="d-flex align-items-center">
            <div class="p-3 text-primary">
              <img
                src="images/icons/visual-studio-code.svg"
                width="50"
                alt=""
              />
            </div>
            <div>
              <p class="title mb-2">CLI</p>
              <div class="d-flex justify-content-between">
                <p>1 Series</p>
                <p>10 Videos</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show col-lg-2 tabs-bg"
          *ngIf="activeTab === 'techniques'"
        >
          <div class="d-flex align-items-center">
            <div class="p-3 text-primary">
              <img
                src="images/icons/visual-studio-code.svg"
                width="50"
                alt=""
              />
            </div>
            <div>
              <p class="title mb-2">APIs</p>
              <div class="d-flex justify-content-between">
                <p>1 Series</p>
                <p>10 Videos</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show col-lg-2 tabs-bg"
          *ngIf="activeTab === 'techniques'"
        >
          <div class="d-flex align-items-center">
            <div class="p-3 text-primary">
              <img
                src="images/icons/visual-studio-code.svg"
                width="50"
                alt=""
              />
            </div>
            <div>
              <p class="title mb-2">OOPs</p>
              <div class="d-flex justify-content-between">
                <p>1 Series</p>
                <p>10 Videos</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Techniques Section -->

      <!-- Start Tooling Section -->
      <div class="d-flex justify-content-start align-items-start">
        <div
          class="tab-pane fade show col-lg-2 tabs-bg"
          *ngIf="activeTab === 'tooling'"
        >
          <div class="d-flex align-items-center">
            <div class="p-3 text-primary">
              <img
                src="images/icons/visual-studio-code.svg"
                width="50"
                alt=""
              />
            </div>
            <div>
              <p class="title mb-2">Visual Studio Code</p>
              <div class="d-flex justify-content-between">
                <p>1 Series</p>
                <p>10 Videos</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show col-lg-2 tabs-bg"
          *ngIf="activeTab === 'tooling'"
        >
          <div class="d-flex align-items-center">
            <div class="p-3 text-primary">
              <img
                src="images/icons/visual-studio-code.svg"
                width="50"
                alt=""
              />
            </div>
            <div>
              <p class="title mb-2">Docker</p>
              <div class="d-flex justify-content-between">
                <p>1 Series</p>
                <p>10 Videos</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show col-lg-2 tabs-bg"
          *ngIf="activeTab === 'tooling'"
        >
          <div class="d-flex align-items-center">
            <div class="p-3 text-primary">
              <img
                src="images/icons/visual-studio-code.svg"
                width="50"
                alt=""
              />
            </div>
            <div>
              <p class="title mb-2">Webpack</p>
              <div class="d-flex justify-content-between">
                <p>1 Series</p>
                <p>10 Videos</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade show col-lg-2 tabs-bg"
          *ngIf="activeTab === 'tooling'"
        >
          <div class="d-flex align-items-center">
            <div class="p-3 text-primary">
              <img
                src="images/icons/visual-studio-code.svg"
                width="50"
                alt=""
              />
            </div>
            <div>
              <p class="title mb-2">MySQL</p>
              <div class="d-flex justify-content-between">
                <p>1 Series</p>
                <p>10 Videos</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Tooling Section -->
    </div>
  </div>
</div>

<div class="row py-3 px-5">
  <h1 class="py-4">Exploring Laravel Livewire</h1>
  <div class="col-lg-3 pt-3">
    <app-card-details />
  </div>
  <div class="col-lg-3 pt-3">
    <app-card-details />
  </div>
  <div class="col-lg-3 pt-3">
    <app-card-details />
  </div>
  <div class="col-lg-3 pt-3">
    <app-card-details />
  </div>
  <div class="col-lg-3 pt-3">
    <app-card-details />
  </div>
  <div class="col-lg-3 pt-3">
    <app-card-details />
  </div>
  <div class="col-lg-3 pt-3">
    <app-card-details />
  </div>
</div>
