.nav-tabs {
  --bs-nav-tabs-border-width: 0px !important;
  --bs-nav-tabs-link-active-color: #ffffff;
  --bs-nav-tabs-link-active-bg: #081b28 !important;
}
.nav-link:focus,
.nav-link:hover {
  color: #d6d6d6 !important;
}
.nav-link {
  color: #e0ae06 !important;
}
.active {
  color: #d6d6d6 !important;
}
.tab-content > .tab-pane {
  display: block;
}
