/* You can add global styles to this file, and also import other style files 081b28 0f2b3e 004b64 */
@font-face {
  font-family: leelWebFontRegular;
  src: url(/public/fonts/Nunito-Regular.ttf);
}

body {
  background-color: #081b28;
  font-family: leelawebfontregular, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #9e9b9b;
}
.bg-card {
  background-color: #023a4c !important;
}
.text-info {
  color: #236f88 !important;
}
