<div class="row py-5 mx-0 align-items-center">
  <div class="col-lg-4 mx-auto">
    <div class="card p-5 bg-card">
      <div class="card-title">
        <h3 class="text-dark text-center">Login Here</h3>
        <form action="" class="py-4">
          <div class="form-floating pt-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="Enter your email"
            />
            <label for="floatingInput">Enter your email</label>
          </div>
          <div class="text-center py-3">
            <button class="btn btn-block btn-info w-100">Reset Password</button>
          </div>
          <p class="text-dark text-center">
            <a routerLink="/login" class="text-decoration-none text-warning"
              >Cancel</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
<router-outlet />
